---
import { Image } from "astro:assets";

import placeholder from "../assets/images/placeholder.jpeg";
import { OrderCounter } from "./react/OrderCounter";
import type { Cake } from "@mocks/orderMock";

const { title, id, price } = Astro.props as Cake;
---

<div
	class="bg-primary w-11/12 lg:w-9/12 min-h-[32rem] max-h-[32rem] rounded shadow-3xl pb-3 mb-6 relative text-accent flex flex-col items-center"
>
	<div class="h-48 rounded-t relative w-full">
		<Image
			src={placeholder}
			alt="placeholder"
			class="h-full w-full object-cover rounded-t"
			quality="low"
		/>
		<OrderCounter client:load id={id} price={price} title={title} />
	</div>
	<div class="flex flex-col justify-center items-center px-4">
		<h2 class="text-2xl text-center font-semibold my-2">
			{title}
		</h2>

		<span class="text-xl lg:text-base font-medium text-pretty">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum vero qui
			aliquid harum, inventore asperiores minima sint impedit beatae corporis
			nihil explicabo illum praesentium sed quas a, ratione atque et.
		</span>
	</div>
	<span class="text-3xl font-bold py-2 absolute bottom-0">${price}</span>
</div>
