---
import BackButton from "@components/BackButton.astro";
import CakeCard from "@components/CakeCard.astro";
import Layout from "@layouts/Layout.astro";
import { recipeMock } from "@mocks/recipesMock";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const tortas = await getCollection("tortas");
---

<Layout title="Uchi | Tortas y Postres">
	<main class="mt-2 lg:m-4 pb-10 relative">
		<div class="h-[10%] flex items-center">
			<BackButton href="/" />
		</div>

		<section class="flex flex-col w-[93%] lg:w-[90%] m-auto mt-6 lg:mt-0">
			<h1 class="m-auto text-5xl md:text-5xl mt-2 mb-10 text-accent">
				Tortas y Postres
			</h1>
			<div class="flex flex-wrap justify-between">
				<!-- {recipeMock.map((recipe) => <CakeCard text={recipe.text} />)} -->
				{
					tortas.map((recipe) => (
						<CakeCard
							slug={recipe.slug}
							description={recipe.data.description}
							image={recipe.data.image}
							title={recipe.data.title}
						/>
					))
				}
			</div>
		</section>
		<a
			href="#btn-back"
			title="Volver al comienzo"
			class="hidden bg-secondary h-16 w-16 fixed right-5 bottom-10 rounded-full shadow-3xl md:flex justify-center items-center transition ease-in-out duration-500 opacity-0 pointer-events-none"
			id="btn-to-top"
		>
			<Icon name="arrowUp" size={40} />
		</a>
		<a
			href="#btn-back-mobile"
			title="Volver al comienzo"
			class="md:hidden bg-secondary h-16 w-16 fixed right-5 bottom-10 rounded-full shadow-3xl flex justify-center items-center transition ease-in-out duration-500 opacity-0 pointer-events-none"
			id="btn-to-top-mobile"
		>
			<Icon name="arrowUp" size={40} />
		</a>
	</main>
</Layout>
<script>
	document.addEventListener("astro:page-load", () => {
		const btnToTop = document.querySelector("#btn-to-top");
		const btnToTopMobile = document.querySelector("#btn-to-top-mobile");

		const hasScrolledFromTop = () => {
			return window.scrollY > 200;
		};

		btnToTop?.classList.add("opacity-0");
		btnToTopMobile?.classList.add("opacity-0");

		window.addEventListener("scroll", () => {
			if (hasScrolledFromTop()) {
				btnToTop?.classList.remove("opacity-0", "pointer-events-none");
				btnToTopMobile?.classList.remove("opacity-0", "pointer-events-none");

				btnToTop?.classList.add("opacity-100");
				btnToTopMobile?.classList.add("opacity-100");
			} else {
				btnToTop?.classList.remove("opacity-100");
				btnToTopMobile?.classList.remove("opacity-100");

				btnToTop?.classList.add("opacity-0", "pointer-events-none");
				btnToTopMobile?.classList.add("opacity-0", "pointer-events-none");
			}
		});
	});
</script>

<style>
	html {
		scroll-behavior: smooth;
	}
</style>
